@model ChatRoom.Controlers.LoginViewModel
 

<form  method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.returnurl">
    <input asp-for="UserName" />
    <input asp-for="Password" />
    <button type="submit">login</button>
</form>